# dependencies
/app_client/node_modules

# testing
/app_client/coverage

# production
/app_client/build

# misc
/app_client/.DS_Store
/app_client/.env.local
/app_client/.env.development.local
/app_client/.env.test.local
/app_client/.env.production.local

/app_client/npm-debug.log*
/app_client/yarn-debug.log*
/app_client/yarn-error.log*

# excludes new feature
/app_client/src/app_modules/_feature
/app_client/src/libs


# excludes new feature
/app_server/_resource
