#
# client side
#
# dependencies
/app_client/node_modules

# testing
/app_client/coverage

# production
/app_client/build

# misc
/app_client/.DS_Store
/app_client/.env.local
/app_client/.env.development.local
/app_client/.env.test.local
/app_client/.env.production.local

/app_client/npm-debug.log*
/app_client/yarn-debug.log*
/app_client/yarn-error.log*

# excludes new feature
/app_client/src/__feature__

#
# server side
#

# dependencies
/app_server/node_modules

# production
/app_server/build

# misc
/app_server/.DS_Store
/app_server/.env.local
/app_server/.env.development.local
/app_server/.env.test.local
/app_server/.env.production.local

/app_server/npm-debug.log*
/app_server/yarn-debug.log*
/app_server/yarn-error.log*

# excludes new feature
/app_server/__resource__

**/node_modules
**/build